<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Thymeleaf3</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<p>
		<label>UID</label>
		<input type="text" name="uid" th:value="${member.uid}" readonly/>
	</p>
	<p>
		<label>UPW</label>
		<input type="text" name="upw" th:value="${member.upw}" readonly/>
	</p>
	<p>
		<label>UNAME</label>
		<input type="text" name="uname" th:value="${member.uname}" readonly/>
	</p>
	<p>[[${member.roles}]]</p>
</body>
</html>